body::after {
	content: "";
	background-color: rgba(38, 48, 57, 1);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}

.menu-open body::after,
.popup-show body::after {
	opacity: .7;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}

.popup_show {
	z-index: 500;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}

.popup_show .popup__content {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
}

.popup__close {
	cursor: pointer;
	position: absolute;

	@include adaptiveValue("right", 80, 30);
	@include adaptiveValue("top", 39, 14);

	z-index: 999;

	&::before,
	&::after {
		content: '';
		position: absolute;
		@include adaptiveValue("height", 25, 20);
		@include adaptiveValue("width", 4, 3);
		background-color: #fff;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}

.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup__content {
	@include adaptiveValue("padding-top", 94, 27);
	@include adaptiveValue("padding-left", 124, 27);
	@include adaptiveValue("padding-right", 124, 28);
	@include adaptiveValue("padding-bottom", 100, 32);

	width: 100%;
	@include adaptiveValue("width", 964, 320);


	background-color: #445D74;
	@include adaptiveValue("border-radius", 50, 30);
	box-shadow: 0px 34px 52px rgba(0, 0, 0, 0.7);

	visibility: hidden;
	opacity: 0;
	transform: scale(.6);
	transition: transform 0.3s ease 0s;

	.lock & {
		visibility: visible;
	}

	// &_no-anim {
	// 	transition: transform .01s ease 0s;
	// }
}

.form {
	&__label {
		position: absolute;
		@include adaptiveValue("right", 36, 17);
		top: 50%;
		transform: translate(0px, -50%);

		@include adaptiveValue("font-size", 24, 18);
		font-weight: 500;
		line-height: math.div(29, 24);
		letter-spacing: 0.05em;
		color: $hoverColor;

		@media (max-width:$mobile) {
			top: 60%;
		}
	}

	/* .form__title */
	&__title {
		@include adaptiveValue("margin-bottom", 41, 28);

		@include adaptiveValue("font-size", 50, 24);
		font-weight: 700;
		color: #fff;
		line-height: math.div(61, 50);
		letter-spacing: 0.03em;
		text-transform: uppercase;

		@media (max-width: em(400)) {
			max-width: rem(250);
		}
	}

	/* .form__item */
	&__item {
		position: relative;

		&_submit-finish {
			@media (max-width: em(891)) {
				text-align: center;
			}
		}


		/* .form__item_name */
		&_name {
			@include adaptiveValue("margin-bottom", 19, 10);
		}

		/* .form__item_phone */
		&_phone {
			@include adaptiveValue("margin-bottom", 19, 10);
		}

		/* .form__item_textarea */
		&_textarea {

			@include adaptiveValue("margin-bottom", 29, 16);
			width: 100%;
		}

		/* .form__item_checkbox */
		&_checkbox {
			@include adaptiveValue("margin-bottom", 54, 19);
		}
	}

	/* .form__input */
	&__input {
		@include adaptiveValue("height", 70, 50);
		@include adaptiveValue("padding-left", 44, 23);
		@include adaptiveValue("padding-right", 36, 23);
		@include adaptiveValue("padding-top", 25, 25);
		@include adaptiveValue("padding-bottom", 25, 25);

		background-color: #fff;
		border: rem(1) solid #D9D9D9;
		border-radius: rem(39);

		@include adaptiveValue("font-size", 16, 12);
		line-height: math.div(20, 16);
		font-weight: 500;
		color: #263039;
		letter-spacing: 0.05em;
	}

	/* .form__button */
	&__button {
		position: relative;
		z-index: 100;
		@include adaptiveValue("width", 218, 269);

		&_quize {
			@include adaptiveValue("width", 218, 231);
			text-align: center;
		}
	}
}

.thanks-popup {

	/* .thanks-popup__title */
	&__title {
		margin-bottom: rem(30);

		@include adaptiveValue("font-size", 70, 24);
		font-weight: 700;
		line-height: math.div(85, 70);
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}

	&__close {
		@include adaptiveValue("right", 52, 30);
		@include adaptiveValue("top", 39, 14);
	}

	&__content {
		@include adaptiveValue("padding-top", 104, 27);

		@include adaptiveValue("padding-bottom", 0, 50);
		@include adaptiveValue("width", 964, 323);
	}

	/* .thanks-popup__body */
	&__body {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* .thanks-popup__image */
	&__image {
		img {
			max-width: 100%;
		}
	}

	/* .thanks-popup__logo */
	&__logo {
		position: absolute;
		top: 30%;
		width: 100%;
		z-index: -1;
	}
}

//========================================================================================================================================================

.quiz-popup {

	/* .quiz-popup__wrapper */
	&__wrapper {}

	/* .quiz-popup__content */
	&__content {
		@include adaptiveValue("padding-top", 88, 24);

		@include adaptiveValue("padding-bottom", 70, 20);
		@include adaptiveValue("width", 1463, 320);

		@include adaptiveValue("height", 800, 720);

		// height: rem(800);
	}

	/* .quiz-popup__close */
	&__close {
		@include adaptiveValue("right", 54, 32);
		@include adaptiveValue("top", 42, 17);
	}
}

.quiz-form {
	height: 100%;

	/* .quiz-form__fieldset */
	&__fieldset {
		display: flex;
		flex-direction: column;
		height: 100%;

		// @include adaptiveValue("min-height", 680, 670);
		opacity: 0;
		position: absolute;
		z-index: -20;
		// display: none;

		&._active {
			opacity: 1;
			position: relative;
			// transform: scale(1);
			z-index: 100;
		}
	}

	/* .quiz-form__title */
	&__title {
		@include adaptiveValue("margin-bottom", 53, 28);

		@include adaptiveValue("font-size", 40, 24);
		font-size: 700px;
		line-height: math.div(49, 40);
		letter-spacing: 0.03em;

		&_start {
			@include adaptiveValue("margin-bottom", 41, 28);
		}

		&_finish {
			@include adaptiveValue("margin-bottom", 32, 22);
		}
	}

	&__subtitle {
		@include adaptiveValue("font-size", 24, 16);
		line-height: math.div(29, 24);
		font-weight: 700;
		letter-spacing: 0.03em;

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 78, 30);
		}
	}

	/* .quiz-form__body */
	&__body {
		flex: 1 1 auto;
		display: grid;
		grid-template-columns: 66.373% 1fr;
		opacity: 0;
		transition: all .8s ease 0s;
		transform: scale(.8);


		._active & {
			opacity: 1;
			transform: scale(1);

		}

		&:not(:last-child) {
			// @include adaptiveValue("margin-bottom", 60, 18);
		}

		@media (max-width: em(1200)) {
			grid-template-columns: 1fr 1fr;
		}

		@media (max-width:$mobile) {
			grid: none;
			grid-template-columns: 1fr;
			row-gap: rem(40);
		}

		&_start {
			align-items: end;
			grid-template-columns: 69% 1fr;

			@media (max-width:$tablet) {
				grid: none;
			}
		}

		&_finish {
			grid-template-columns: 59.7% 1fr;
			align-items: center;

			@media (max-width: em(1140)) {
				grid-template-columns: 1fr;
				@include adaptiveValue("gap", 40, 30);
			}
		}
	}

	/* .quiz-form__content */
	&__content {
		display: grid;
		row-gap: rem(19);

		&_finish {
			grid: none;
		}
	}

	/* .quiz-form__image */
	&__image-ibg {
		padding-bottom: 60.50%;

		border-radius: rem(40);
		overflow: hidden;

		@media (max-width:$tablet) {
			margin-bottom: rem(10);
		}
	}

	&__submit-form {
		justify-self: center;
	}

	/* .quiz-form__solution */
	&__solution {

		// align-self: end;
		@media (max-width:$mobile) {
			justify-self: center;
		}

		&_start {
			@include adaptiveValue("padding-left", 38, 20, 1920, 992);
			@include adaptiveValue("padding-bottom", 88, 33, 1920, 992);
		}
	}

	/* .quiz-form__text-start */
	&__text-start {
		@include adaptiveValue("margin-bottom", 35, 34);

		@include adaptiveValue("font-size", 20, 16);
		font-weight: 400;
		line-height: math.div(30, 20);
		letter-spacing: 0.03em;
	}

	/* .quiz-form__button */
	&__button {
		min-width: 0;
		@include adaptiveValue("width", 158, 50);
		gap: rem(15);
		@include adaptiveValue("height", 70, 50);


		img {
			transition: transform 0.3s ease 0s;
		}

		&:hover {
			img {
				transform: translate(rem(10), 0px);
			}
		}

		&_start {
			@include adaptiveValue("width", 252, 273);
		}

		/* .quiz-form__button_prev */
		&_prev {
			position: relative;
			display: inline-flex;
			justify-content: center;
			align-items: center;

			// overflow: hidden;
			@include adaptiveValue("width", 70, 50);
			@include adaptiveValue("height", 70, 50);

			border-radius: 50%;
			border: rem(1) solid #8DA6AD;
			transition: all .8s ease 0s;

			&::before {
				transition: all 0.3s ease 0s;
				content: "";
				position: absolute;
				border-radius: 50%;
				box-shadow: $shadowBtn;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				opacity: 0;
			}

			&:hover {

				&::before {
					opacity: 1;
				}

				img {
					transform: translate(rem(-5), 0px);
				}

			}

			.form__item_submit-finish & {

				margin-right: rem(20);

				@media (max-width: em(892)) {
					margin-bottom: rem(20);
				}

				// margin-left: auto;
				// margin-right: auto;
				// display: flex;
			}
		}

		/* .quiz-form__button_next */
		&_next {}

		@media (max-width:$tablet) {
			span {
				display: none;
			}
		}
	}

	/* .quiz-form__item */
	&__item {
		&_other {
			display: flex;

			@media (min-width: em(1200)) {
				@include adaptiveValue("gap", 50, 0);
				@include adaptiveValue("margin-top", -16, 0);
				align-items: center;
			}

			@media (max-width: em(1200)) {
				gap: rem(20);
				flex-direction: column;
			}
		}
	}

	/* .quiz-form__input */
	&__input {

		&_other {
			@include adaptiveValue("width", 426, 270);
		}
	}

	/* .quiz-form__decor-wrap */
	&__decor-wrap {
		background: $secTextColor;
		@include adaptiveValue("border-radius", 39, 30);
		@include adaptiveValue("padding-top", 72, 26);
		@include adaptiveValue("padding-bottom", 46, 16);
		@include adaptiveValue("padding-left", 46, 20);
		@include adaptiveValue("padding-right", 50, 12);

		@include adaptiveValue("width", 404, 270);

		&_finish {
			@include adaptiveValue("width", 485, 270);
		}
	}

	/* .quiz-form__description */
	&__description {
		display: flex;
		align-items: flex-end;
		justify-self: start;

		gap: rem(10);

		@include adaptiveValue("font-size", 16, 12);
		line-height: math.div(20, 16);
		color: #263039;
		letter-spacing: 0.05em;

		p {
			position: relative;
			@include adaptiveValue("width", 247, 199);

			@include adaptiveValue("padding-left", 33, 24);
			@include adaptiveValue("padding-right", 25, 14);
			@include adaptiveValue("padding-bottom", 26, 18);
			@include adaptiveValue("padding-top", 26, 22);

			transform: translate(0, rem(-25));

			background: #B8D6DF;
			box-shadow: 0px 12px 13px rgba(62, 76, 88, 0.17);
			border-radius: rem(39) rem(39) rem(39) 0px;

			&::before {
				position: absolute;
				content: '';
				left: rem(-10);
				bottom: 0;

				border: rem(18) solid transparent;
				border-bottom: rem(8) solid #B8D6DF;
			}

			@media (max-width:$mobile) {
				transform: translate(0, rem(-16));
				border-radius: rem(30) rem(30) rem(30) 0px;
			}
		}

		span {
			font-weight: 700;
		}

		img {
			@include adaptiveValue("width", 52, 33);
		}
	}

	/* .quiz-form__footer */
	&__footer {
		display: flex;
		align-items: center;
	}

	/* .quiz-form__progress */
	&__progress {
		flex: 1 1 auto;
	}

	/* .quiz-form__buttons */
	&__buttons {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 14, 7);
	}
}

.progress-quiz-form {
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 16, 7);



	/* .progress-quiz-form__bar */
	&__bar {
		position: relative;
		@include adaptiveValue("width", 894, 125);
		background: #517291;
		border-radius: rem(15);
		height: rem(15);



		&_finish {
			@include adaptiveValue("width", 630, 241);
		}
	}

	/* .progress-quiz-form__progress */
	&__progress {
		position: absolute;
		height: 100%;
		left: 0;
		top: 0;
		background: linear-gradient(90deg, #D97000 -18.3%, #E00028 134.86%);
		box-shadow: 0px 10px 13px rgba(96, 26, 26, 0.49);
		border-radius: rem(35);

		transition: all 0.6s ease 0s;
		// opacity: 0;

		&_20 {
			width: 20%;
		}

		&_40 {
			width: 40%;
		}

		&_60 {
			width: 60%;
		}

		&_80 {
			width: 80%;
		}

		&_99 {
			width: 99%;
		}
	}

	/* .progress-quiz-form__rate */
	&__rate {
		@include adaptiveValue("font-size", 10, 10);
		font-weight: 800;
		line-height: math.div(12, 10);
		letter-spacing: 0.05em;
		text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
	}
}