body::after {
	content: "";
	background-color: rgba(38, 48, 57, 1);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}

.menu-open body::after,
.popup-show body::after {
	opacity: .7;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}

.popup_show {
	z-index: 500;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}

.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}

.popup__close {
	cursor: pointer;
	position: absolute;

	@include adaptiveValue("right", 80, 30);
	@include adaptiveValue("top", 39, 14);

	z-index: 999;

	&::before,
	&::after {
		content: '';
		position: absolute;
		@include adaptiveValue("height", 25, 20);
		@include adaptiveValue("width", 4, 3);
		background-color: #fff;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}


.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup__content {
	padding: rem(94) rem(124) rem(100);

	@include adaptiveValue("padding-top", 94, 27);
	@include adaptiveValue("padding-left", 124, 27);
	@include adaptiveValue("padding-right", 124, 28);
	@include adaptiveValue("padding-bottom", 100, 32);

	width: 100%;
	@include adaptiveValue("width", 964, 320);


	background-color: #445D74;
	@include adaptiveValue("border-radius", 50, 30);
	box-shadow: 0px 34px 52px rgba(0, 0, 0, 0.7);

	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;

	.lock & {
		visibility: visible;
	}
}



.form {

	&__label {
		position: absolute;
		@include adaptiveValue("right", 36, 17);
		top: 50%;
		transform: translate(0px, -50%);

		@include adaptiveValue("font-size", 24, 18);
		font-weight: 500;
		line-height: math.div(29, 24);
		letter-spacing: 0.05em;
		color: $hoverColor;

		@media (max-width:$mobile) {
			top: 60%;
		}
	}

	/* .form__title */
	&__title {
		@include adaptiveValue("margin-bottom", 41, 28);

		@include adaptiveValue("font-size", 50, 24);
		font-weight: 700;
		color: #fff;
		line-height: math.div(61, 50);
		letter-spacing: 0.03em;
		text-transform: uppercase;
	}

	/* .form__item */
	&__item {
		position: relative;

		/* .form__item_name */
		&_name {
			@include adaptiveValue("margin-bottom", 19, 10);
		}

		/* .form__item_phone */
		&_phone {
			@include adaptiveValue("margin-bottom", 19, 10);
		}

		/* .form__item_textarea */
		&_textarea {

			@include adaptiveValue("margin-bottom", 29, 16);
			width: 100%;
		}

		/* .form__item_checkbox */
		&_checkbox {
			@include adaptiveValue("margin-bottom", 54, 19);
		}
	}

	/* .form__input */
	&__input {
		@include adaptiveValue("height", 70, 50);
		@include adaptiveValue("padding-left", 44, 23);
		@include adaptiveValue("padding-right", 36, 23);
		@include adaptiveValue("padding-top", 25, 25);
		@include adaptiveValue("padding-bottom", 25, 25);


		background-color: #fff;
		border: rem(1) solid #D9D9D9;
		border-radius: rem(39);


		@include adaptiveValue("font-size", 16, 12);
		line-height: math.div(20, 16);
		font-weight: 500;
		color: #263039;
		letter-spacing: 0.05em;
	}

	/* .form__button */
	&__button {
		@include adaptiveValue("width", 218, 269);
	}
}

.thanks-popup {

	/* .thanks-popup__title */
	&__title {
		margin-bottom: rem(30);

		@include adaptiveValue("font-size", 70, 24);
		font-weight: 700;
		line-height: math.div(85, 70);
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}

	&__close {
		@include adaptiveValue("right", 52, 30);
		@include adaptiveValue("top", 39, 14);

	}

	&__content {
		@include adaptiveValue("padding-top", 104, 27);

		@include adaptiveValue("padding-bottom", 0, 50);
		@include adaptiveValue("width", 964, 323);
	}

	/* .thanks-popup__body */
	&__body {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* .thanks-popup__image */
	&__image {
		img {
			max-width: 100%;
		}
	}

	/* .thanks-popup__logo */
	&__logo {
		position: absolute;
		top: 30%;
		width: 100%;
		z-index: -1;
	}
}

//========================================================================================================================================================

.quiz-popup {

	/* .quiz-popup__wrapper */
	&__wrapper {}

	/* .quiz-popup__content */
	&__content {
		@include adaptiveValue("width", 1463, 320);


	}

	/* .quiz-popup__close */
	&__close {

		@include adaptiveValue("right", 54, 32);
		@include adaptiveValue("top", 42, 17);
	}
}

.quiz-form {

	/* .quiz-form__fieldset */
	&__fieldset {}

	/* .quiz-form__title */
	&__title {
		@include adaptiveValue("font-size", 40, 24);
		font-size: 700px;
		line-height: math.div(49, 40);
		letter-spacing: 0.03em;
	}

	/* .quiz-form__body */
	&__body {
		display: grid;
		align-items: end;


		&_start {
			grid-template-columns: 69% 1fr;

			@media (max-width:$tablet){
				grid: none;
			}
		}
	}

	/* .quiz-form__content */
	&__content {}

	/* .quiz-form__image */
	&__image-ibg {
		padding-bottom: 60.50%;

		border-radius: rem(40);
		overflow: hidden;

		@media (max-width:$tablet){
			margin-bottom: rem(10);
		}
	}

	/* .quiz-form__solution */
	&__solution {

		&_start {
			@include adaptiveValue("padding-left", 38, 20, 1920, 992);
			@include adaptiveValue("padding-bottom", 88, 33, 1920, 992);
		}
	}

	/* .quiz-form__text-start */
	&__text-start {
		@include adaptiveValue("margin-bottom", 35, 34);

		@include adaptiveValue("font-size", 20, 16);
		font-weight: 400;
		line-height: math.div(30, 20);
		letter-spacing: 0.03em;

	}

	/* .quiz-form__button */
	&__button {

		&_start {
			@include adaptiveValue("width", 252, 273);
		}

		/* .quiz-form__button_prev */
		&_prev {}

		/* .quiz-form__button_next */
		&_next {}
	}

	/* .quiz-form__item */
	&__item {}

	/* .quiz-form__input */
	&__input {}

	/* .quiz-form__description */
	&__description {}

	/* .quiz-form__footer */
	&__footer {}

	/* .quiz-form__progress-bar */
	&__progress-bar {}

	/* .quiz-form__buttons */
	&__buttons {}
}

.checkbox {

	/* .checkbox__input */
	&__input {}

	/* .checkbox__label */
	&__label {}

	/* .checkbox__text */
	&__text {}
}


.progress-bar {

	/* .progress-bar__progress */
	&__progress {}
}