// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: rem(15);
}

// Спойлер
.spollers__item {
	transform: translate(0, rem(40));
	opacity: 0;
	transition: all .8s ease 0s;

	&._watcher-view {
		transform: none;
		opacity: 1;
	}
}

// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	border-radius: rem(40);
	position: relative;
	display: flex;
	align-items: center;

	@include adaptiveValue("height", 80, 60);
	@include adaptiveValue("padding-left", 39, 28);
	padding-right: rem(70);


	background-color: #445D74;

	@include adaptiveValue("font-size", 20, 14);
	text-align: left;
	font-weight: 600;
	line-height: math.div(24, 20);
	letter-spacing: 0.05em;

	transition: all 0.3s ease 0s;

	._spoller-init & {
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			@include adaptiveValue("right", 36, 26);
			top: 50%;
			background-color: #fff;
			height: rem(2);
			@include adaptiveValue("width", 7.5, 4.5);


			z-index: 20;
			// transition: all 0.5s ease 0s;
		}

		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}

		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}

		svg {
			position: absolute;
			right: rem(10);
		}

		&._spoller-active {

			background-color: #263039;

			background: linear-gradient(294.61deg, #263039 5.58%, #576776 126.67%);

			// opacity: 1;
			&::before,
			&::after {
				background-color: #263039;
			}

			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}

			&::after {
				transform: rotate(40deg);
			}

			.circle {
				background: #6F879D;
				box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.1);
			}
		}
	}
}

// Контент спойлера
.spollers__body {

	@include adaptiveValue("padding-top", 34, 21);
	@include adaptiveValue("padding-left", 40, 0);
	@include adaptiveValue("padding-bottom", 43, 0);

	@include adaptiveValue("font-size", 16, 12);
	line-height: math.div(28, 16);
	font-weight: 500;
	letter-spacing: 0.05em;

	p {
		&:not(:last-child) {
			margin-bottom: rem(27);
			@include adaptiveValue("margin-bottom", 27, 12);
		}
	}

	b {
		font-weight: 700;
	}
}

.circle {
	position: absolute;
	@include adaptiveValue("width", 62, 45);
	@include adaptiveValue("height", 62, 45);

	background: linear-gradient(294.61deg, #263039 5.58%, #576776 126.67%);
	border-radius: rem(40);
	@include adaptiveValue("right", 12, 8);
}