//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: rem(0) rem(22);
	min-width: rem(218);

	height: rem(70);
	@include adaptiveValue("height", 70, 50);

	background: $bgBtn;
	box-shadow: $shadowBtn;
	border-radius: $borderBtn;

	font-size: rem(10);
	font-weight: 800;
	line-height: math.div(12, 10);
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);

	@media (any-hover: hover) {
		&:hover {}
	}

	@media (max-width:$mobile) {
		height: rem(50);
	}


	&_tr {
		border: 1px solid #EF002B;
		background: none;
		box-shadow: none;
	}
}