.button {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: rem(0) rem(22);
	min-width: rem(218);
	@include adaptiveValue("height", 70, 50);

	border-radius: $borderBtn;

	font-size: rem(10);
	font-weight: 800;
	line-height: math.div(12, 10);
	letter-spacing: 0.05em;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);

	transition: all 0.6s ease 0s;

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all .6s ease 0s;
	}

	&::before {
		background: linear-gradient(90deg, #D97000 -18.3%, #E00028 134.86%);
		border-radius: $borderBtn;
		box-shadow: $shadowBtn;
	}

	&::after {
		// box-shadow: 5px 5px 5px -5px rgba(255, 255, 255, 0.6) inset;
		transition: all 0.6s ease 0s;
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: $borderBtn;
		z-index: -1;
		opacity: 0;
		background: linear-gradient(-90deg, #D97000 -18.3%, #E00028 134.86%);
	}

	@media (any-hover: hover) {
		&:hover {

			&::before {
				box-shadow: none;
			}

			&::after {
				opacity: 1;
			}
		}
	}

	@media (max-width:$mobile) {
		height: rem(50);
	}

	&_tr-b,
	&_tr {
		position: relative;
		transition: all .8s ease 0s;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 100%;
			background: $bgBtn;
			border-radius: $borderBtn;
			// box-shadow: 5px 5px 5px -5px rgba(255, 255, 255, 0.6) inset;

			opacity: 0;
			z-index: -1;

			transition: all .6s ease;
		}

		@media (any-hover: hover) {
			&:hover {
				border: 1px solid transparent;

				&::before {
					width: 100%;
					opacity: 1;
				}

				&::after {
					display: none;
				}
			}
		}
	}

	&_tr {
		border: 1px solid #EF002B;
		background: none;
		box-shadow: none;
	}

	&_248 {
		@include adaptiveValue("width", 248, 218);
	}

	&_tr-b {
		background: none;
		box-shadow: none;
		border: 1px solid #FA982F;
	}
}

.b-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: rem(14);


	.plans__button-block_up & {
		@media (max-width:$mobile) {
			margin-bottom: rem(20);

			order: -1;
		}
	}
}