// .player * {
//   display: inline-block;
//   vertical-align: middle;
//   background: none;
//   border: none;

// }

// .player audio {
//   display: none;
// }

// .player {
//   @include adaptiveValue("width", 410, 257);
//   @include adaptiveValue("height", 60, 50);
//   display: flex;

//   align-items: center;

//   padding: rem(0) rem(22);
//   // column-gap: rem(15);
//   @include adaptiveValue("column-gap", 15, 8);

//   // width: max-content;

//   border-radius: rem(30);
//   background: #2C3F51;
//   box-shadow: 0px 6px 23px rgba(0, 0, 0, 0.25);
// }

// .player input[type="range"] {
//   -webkit-appearance: none;
//   height: rem(4);
//   border-radius: rem(2);
//   background: #D9D9D9;
//   outline: none;
//   opacity: 1;
//   -webkit-transition: .2s;
//   transition: opacity .2s;
// }

// .player input[type="range"]::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   appearance: none;
//   width: rem(10);
//   height: rem(10);
//   border-radius: 50%;
//   background: #FA982F;
//   cursor: pointer;
//   // width: rem(182);

// }


// .player input[type="range"]::-moz-range-thumb {
//   width: 100px;
//   // width: rem(182);
//   height: 10px;
//   border-radius: 50%;
//   background: #4CAF50;
//   cursor: pointer;
// }

// #volume {
//   width: 40px;
// }

// .play-time {
//   flex: 0 0 auto;
//   font-weight: 400;
//   @include adaptiveValue("font-size", 12, 8);
//   line-height: math.div(15, 12);
//   color: $mainTextColor;
//   letter-spacing: 0.05em;
// }

// #cur-time {
//   @include adaptiveValue("width", 182, 108);
// }

// .play-more {
//   display: grid;
//   gap: rem(2);

//   span {
//     display: block;
//     background-color: #D9D9D9;
//     @include adaptiveValue("width", 4, 2);
//     @include adaptiveValue("height", 4, 2);
//     border-radius: 50%;
//   }
// }

// .play-wrap {
//   flex: 0 0 auto;
// }


//========================================================================================================================================================


.music-seek-bar {

  width: 200px;
  // top: -4px;
  height: 8px;
  background-color: #000;
}

.music-seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-appearance: unset;
  height: 50px;
  width: 5px;
  background-color: #000;
  cursor: pointer;
}

.controls {
  position: relative;
}

.volume-slider {
  // -webkit-appearance: unset;
  // -webkit-appearance: none;
  cursor: pointer;
  width: rem(62);
  height: rem(40);
  position: absolute;
  transform: rotate(-90deg);
  border: rem(20);
  overflow: hidden;
  // background: #000;

  &.active {
    opacity: 1;
    display: block;
  }
}

.volume-slider::-webkit-slider-thumb {
  // -webkit-appearance: unset;
  -webkit-appearance: none;
  height: rem(40);
  width: rem(10);
  // background: red;

  // box-shadow: -200px 0 1px 200px red;

}

.play-p,
.pause-p {
  cursor: pointer;

  &.active {
    opacity: 1;
    display: block;
  }
}

.main-player {
  span {
    img {
      display: none;
      opacity: 0;

    }
  }
}