// .player * {
//   display: inline-block;
//   vertical-align: middle;
//   background: none;
//   border: none;

// }

// .player audio {
//   display: none;
// }

// .player {
//   @include adaptiveValue("width", 410, 257);
//   @include adaptiveValue("height", 60, 50);
//   display: flex;

//   align-items: center;

//   padding: rem(0) rem(22);
//   // column-gap: rem(15);
//   @include adaptiveValue("column-gap", 15, 8);

//   // width: max-content;

//   border-radius: rem(30);
//   background: #2C3F51;
//   box-shadow: 0px 6px 23px rgba(0, 0, 0, 0.25);
// }

// .player input[type="range"] {
//   -webkit-appearance: none;
//   height: rem(4);
//   border-radius: rem(2);
//   background: #D9D9D9;
//   outline: none;
//   opacity: 1;
//   -webkit-transition: .2s;
//   transition: opacity .2s;
// }

// .player input[type="range"]::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   appearance: none;
//   width: rem(10);
//   height: rem(10);
//   border-radius: 50%;
//   background: #FA982F;
//   cursor: pointer;
//   // width: rem(182);

// }


// .player input[type="range"]::-moz-range-thumb {
//   width: 100px;
//   // width: rem(182);
//   height: 10px;
//   border-radius: 50%;
//   background: #4CAF50;
//   cursor: pointer;
// }

// #volume {
//   width: 40px;
// }

// .play-time {
//   flex: 0 0 auto;
//   font-weight: 400;
//   @include adaptiveValue("font-size", 12, 8);
//   line-height: math.div(15, 12);
//   color: $mainTextColor;
//   letter-spacing: 0.05em;
// }

// #cur-time {
//   @include adaptiveValue("width", 182, 108);
// }

// .play-more {
//   display: grid;
//   gap: rem(2);

//   span {
//     display: block;
//     background-color: #D9D9D9;
//     @include adaptiveValue("width", 4, 2);
//     @include adaptiveValue("height", 4, 2);
//     border-radius: 50%;
//   }
// }

// .play-wrap {
//   flex: 0 0 auto;
// }


//========================================================================================================================================================


// .music-seek-bar {

//   width: 200px;
//   // top: -4px;
//   height: 8px;
//   background-color: #000;
// }

// .music-seek-bar::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   -webkit-appearance: unset;
//   height: 50px;
//   width: 5px;
//   background-color: #000;
//   cursor: pointer;
// }

// .controls {
//   position: relative;
// }

// .volume-slider {
//   // -webkit-appearance: unset;
//   // -webkit-appearance: none;
//   cursor: pointer;
//   width: rem(62);
//   height: rem(40);
//   position: absolute;
//   transform: rotate(-90deg);
//   border: rem(20);
//   overflow: hidden;
//   // background: #000;

//   &.active {
//     opacity: 1;
//     display: block;
//   }
// }

// .volume-slider::-webkit-slider-thumb {
//   // -webkit-appearance: unset;
//   -webkit-appearance: none;
//   height: rem(40);
//   width: rem(10);
//   // background: red;

//   // box-shadow: -200px 0 1px 200px red;

// }

// .play-p,
// .pause-p {
//   cursor: pointer;

//   &.active {
//     opacity: 1;
//     display: block;
//   }
// }

// .main-player {
//   span {
//     img {
//       display: none;
//       opacity: 0;

//     }
//   }
// }



.audio-player,
.audio-player2 {
  // display: flex;
  // align-items: center;
  height: rem(60);
  width: rem(410);

  background: #2C3F51;
  box-shadow: 0px 6px 23px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  // overflow: hidden;

  display: grid;
  // justify-content: center;
  // grid-template-rows: 6px auto;
  grid-template-columns: repeat(3, 1fr);

  .timeline {
    background: #D9D9D9;
    width: 100%;
    @include adaptiveValue("width", 182, 182);
    position: relative;
    z-index: 100;
    cursor: pointer;
    border-radius: rem(2);
    height: rem(4);
    align-self: center;

    .progress {
      background: #FA982F;
      width: 0%;
      height: 100%;
      transition: 0.25s;
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // align-items: stretch;
    padding: 0 rem(22);

    >* {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .toggle-play {
      &.play {
        cursor: pointer;
        position: relative;
        left: 0;
        height: 0;
        width: 0;
        border: rem(10) solid transparent;
        border-left: rem(18) solid #D9D9D9;

        &:hover {
          transform: scale(1.1);
        }
      }

      &.pause {
        height: rem(20);
        width: rem(28);
        cursor: pointer;
        position: relative;

        &:before,
        &:after {
          position: absolute;
          top: 0;
          background: #D9D9D9;
          height: rem(20);
          width: rem(6);
          border-radius: rem(2);
        }

        &:before {
          left: 0px;
          content: "";
        }

        &:after {
          right: rem(10);
          content: "";
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .time {
      display: flex;
      @include adaptiveValue("font-size", 12, 12);
      line-height: math.div(15, 12);
      font-weight: 400;
      color: $mainTextColor;


      >* {
        padding: 2px;
      }
    }

    .volume-container {
      cursor: pointer;

      .volume-button {

        display: flex;
        align-items: center;

        .volume {}
      }

      position: relative;
      z-index: 2;

      .volume-slider {
        position: absolute;
        left: -3px;
        top: rem(-16);
        z-index: -1;
        width: rem(0);
        height: rem(4);
        background: #D9D9D9;
        // box-shadow: 0 0 20px #000a;
        transition: .25s;
        transform: rotate(-90deg);
        border-radius: rem(2);

        .volume-percentage {
          background: #FA982F;
          border-radius: rem(2);
          height: 100%;
          width: 75%;
        }
      }

      .vol-null {
        // display: none;
      }


      &:hover {
        .vol-full {
          // display: none;
        }

        .vol-null {
          // display: block;
        }


        .volume-slider {
          left: rem(-25);
          width: rem(62);
        }
      }
    }
  }
}

.play-more {
  display: flex;
  flex-direction: column;
  gap: rem(2);
  // grid-template-columns: 1fr;

  span {
    display: block;
    background-color: #D9D9D9;
    @include adaptiveValue("width", 4, 2);
    @include adaptiveValue("height", 4, 2);
    border-radius: 50%;
  }
}