.clients-reviews {

  /* .clients-reviews__container */
  &__container {}

  /* .clients-reviews__title */
  &__title {
    @include adaptiveValue("margin-bottom", 50, 50);
    margin-bottom: rem(50);
    letter-spacing: 0.05em;

    span {
      color: #FA982F;
    }
  }

  /* .clients-reviews__subtitle */
  &__subtitle {
    @include adaptiveValue("margin-bottom", 48, 48);
    margin-bottom: rem(48);
    @include adaptiveValue("font-size", 40, 40);
    font-weight: 300;
    line-height: math.div(28, 40);
    color: $mainTextColor;
    letter-spacing: 0.05em;
  }

  /* .clients-reviews__clients */
  &__clients {
    display: flex;
    align-items: center;
    // justify-content: space-between;

    // overflow-x: auto;
  }

  /* .clients-reviews__logo */
  &__logo {
    img {
      max-width: 100%;
    }
  }

  /* .clients-reviews__reviews */
  &__reviews {}
}

.title {}

.reviews-clients {

  /* .reviews-clients__list */
  &__list {}

  /* .reviews-clients__item */
  &__item {}
}

.reviews {
  position: relative;
  @include adaptiveValue("width", 466, 284);
  @include adaptiveValue("padding-top", 67, 61);
  @include adaptiveValue("padding-bottom", 25, 14);
  display: grid;
  justify-content: center;

  background: linear-gradient(294.61deg, #2F4356 5.58%, #1F2E3D 126.67%);
  border-radius: 30px;

  text-align: center;

  /* .reviews__label */
  &__label {
    position: absolute;
    padding: rem(3) rem(11);
    left: 27px;
    top: 23px;


    background-color: #FF890B;
    border-radius: rem(30);

    @include adaptiveValue("font-size", 16, 10);
    font-weight: 400;
    line-height: math.div(20, 16);
    letter-spacing: 0.05em;

    @media (max-width:$mobile) {
      font-weight: 500;
    }
  }

  /* .reviews__image */
  &__image {
    @include adaptiveValue("margin-bottom", 22, 22);
    margin-bottom: rem(22);
  }

  /* .reviews__name */
  &__name {
    @include adaptiveValue("margin-bottom", 9, 9);
    margin-bottom: rem(9);

    @include adaptiveValue("font-size", 40, 40);
    font-weight: 600;
    line-height: math.div(49, 40);
    letter-spacing: 0.05em
  }

  /* .reviews__position */
  &__position {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @include adaptiveValue("margin-bottom", 22, 22);
    margin-bottom: rem(22);
    @include adaptiveValue("padding-bottom", 25, 25);
    padding-bottom: rem(25);

    @include adaptiveValue("font-size", 16, 16);
    font-weight: 400;
    line-height: math.div(20, 16);
    letter-spacing: 0.05em;

    &::after {
      content: '';
      bottom: 0;
      position: absolute;
      @include adaptiveValue("width", 358, 252);
      height: rem(1);
      opacity: .3;
      background-color: #fff;
    }
  }

  /* .reviews__job */
  &__job {
    @include adaptiveValue("margin-bottom", 20, 20);
    margin-bottom: rem(20);


    @include adaptiveValue("font-size", 16, 16);
    font-weight: 400;
    line-height: math.div(20, 16);
    color: #FA982F;
    letter-spacing: 0.05em;
  }

  /* .reviews__audio */
  &__audio {}
}