.clients-reviews {

  /* .clients-reviews__container */
  &__container {}

  /* .clients-reviews__title */
  &__title {
    @include adaptiveValue("margin-bottom", 50, 32);
    letter-spacing: 0.05em;

    span {
      color: #FA982F;
    }
  }

  /* .clients-reviews__subtitle */
  &__subtitle {
    @include adaptiveValue("margin-bottom", 48, 9);
    @include adaptiveValue("font-size", 40, 16);
    font-weight: 300;
    // line-height: math.div(28, 40);
    color: $mainTextColor;
    letter-spacing: 0.05em;
    line-height: 175%;
  }

  &__slider {
    @include adaptiveValue("margin-bottom", 43, 13);
  }

  /* .clients-reviews__clients */
  &__clients {
    display: flex;
    align-items: center;
    // justify-content: space-between;

    // overflow-x: auto;
  }

  /* .clients-reviews__logo */
  &__logo {

    // max-width: 161px;
    // @include adaptiveValue("height", 118, 58);
    img {
      max-width: 100%;

      @media (max-width:$mobile) {
        width: 80%;
      }

      @media (max-width:$mobileSmall) {
        width: 55%;
      }

    }
  }

  /* .clients-reviews__reviews */
  &__reviews {}
}

.title {}

.reviews-clients {

  /* .reviews-clients__list */
  &__list {}

  /* .reviews-clients__item */
  &__item {}
}

.reviews {
  position: relative;
  @include adaptiveValue("width", 466, 284);
  @include adaptiveValue("padding-top", 67, 61);
  @include adaptiveValue("padding-bottom", 25, 14);
  @include adaptiveValue("padding-left", 28, 12);
  @include adaptiveValue("padding-right", 28, 12);
  display: grid;
  justify-content: center;

  background: linear-gradient(294.61deg, #2F4356 5.58%, #1F2E3D 126.67%);
  @include adaptiveValue("border-radius", 30, 20);

  text-align: center;

  /* .reviews__label */
  &__label {
    position: absolute;
    padding: rem(3) rem(11);
    @include adaptiveValue("left", 27, 12);
    @include adaptiveValue("top", 23, 14);


    background-color: #FF890B;
    border-radius: rem(30);

    @include adaptiveValue("font-size", 16, 10);
    font-weight: 400;
    line-height: math.div(20, 16);
    letter-spacing: 0.05em;

    @media (max-width:$mobile) {
      font-weight: 500;
    }
  }

  /* .reviews__image */
  &__image {
    @include adaptiveValue("margin-bottom", 22, 22);
    margin-bottom: rem(22);

    img {
      @include adaptiveValue("width", 164, 79);
    }
  }

  /* .reviews__name */
  &__name {
    @include adaptiveValue("margin-bottom", 9, 4);
    margin-bottom: rem(9);

    @include adaptiveValue("font-size", 40, 20);
    font-weight: 600;
    line-height: math.div(49, 40);
    letter-spacing: 0.05em
  }

  /* .reviews__position */
  &__position {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @include adaptiveValue("margin-bottom", 22, 14);
    @include adaptiveValue("padding-bottom", 25, 18);

    @include adaptiveValue("font-size", 16, 12);
    font-weight: 400;
    line-height: math.div(20, 16);
    letter-spacing: 0.05em;

    &::after {
      content: '';
      bottom: 0;
      position: absolute;
      @include adaptiveValue("width", 358, 252);
      height: rem(1);
      opacity: .3;
      background-color: #fff;
    }
  }

  /* .reviews__job */
  &__job {
    @include adaptiveValue("margin-bottom", 20, 20);
    margin-bottom: rem(20);

    @include adaptiveValue("font-size", 16, 12);
    font-weight: 400;
    line-height: math.div(20, 16);
    color: #FA982F;
    letter-spacing: 0.05em;
  }

  /* .reviews__audio */
  &__audio {
    position: relative;


    .pl-start {
      position: absolute;
      cursor: pointer;
      left: rem(27);
      top: rem(18);
      z-index: 10;
      pointer-events: none;

      img {}

    }

    .pl-pause {
      position: absolute;
      cursor: pointer;
      left: rem(27);
      top: rem(18);
      pointer-events: none;
      z-index: 110;

      img {}
    }
  }
}

.null {
  position: relative;
  // width: rem(30);
  width: rem(30);
  height: rem(30);
  z-index: 100;
  left: rem(27);
  top: rem(18);
}

// .pl-start {
// }