.corsair-version {
  @include adaptiveValue("padding-top", 120, 46);

  /* .corsair-version__container */
  &__container {
    position: relative;
    display: grid;
    grid-template-columns: 55% auto;

    &::before {
      content: '';
      position: absolute;
      background: #204160;
      opacity: 0.7;
      top: 36%;

      filter: blur(201.5px);
      transform: matrix(-0.78, 0.62, 0.62, 0.78, 0, 0);
      width: rem(432);
      height: rem(1182);
      z-index: -1000;
    }

    @media (max-width:$mobile) {
      grid-template-columns: 1fr;
    }
  }

  /* .corsair-version__content */
  &__content {
    position: relative;
    @include adaptiveValue("padding-right", 45, 10);

    z-index: 40;
  }

  /* .corsair-version__title */
  &__title {
    @include adaptiveValue("margin-bottom", 60, 20);
    letter-spacing: 0.03em;

    span {
      display: block;
      color: $hoverColor;
      letter-spacing: 0.05em;
    }
  }

  /* .corsair-version__text */
  &__text {
    position: relative;
    display: grid;
    @include adaptiveValue("gap", 30, 15);

    color: $mainTextColor;
    letter-spacing: 0.05em;
    line-height: math.div(28, 16);
    @include adaptiveValue("font-size", 16, 14);

    z-index: 40;
  }

  /* .corsair-version__image */
  &__image {
    position: relative;
    z-index: 40;
    top: rem(52);


    @media (min-width:$mobile) {
      left: rem(28);
    }

    @media (max-width:$mobile) {
      margin: 0 auto;
      max-width: rem(360);
    }

    img {
      max-width: 100%;
    }
  }

  /* .corsair-version__decor-text */
  &__decor-text {
    top: 37%;
    left: 54%;

    color: $hoverColor;
  }

  /* .corsair-version__decor-text-itemA */
  &__decor-text-itemA {}

  /* .corsair-version__decor-text-itemB */
  &__decor-text-itemB {
    opacity: .3;
  }

  /* .corsair-version__decor-text-itemC */
  &__decor-text-itemC {}

  /* .corsair-version__decor-text-itemD */
  &__decor-text-itemD {
    color: $hoverColor;
  }

  &__decor-ellipse {
    right: -55%;
    // top: -27%;
    top: -40%;

    @media (max-width:$mobile) {
      right: -128%;
      top: 6%;
    }
  }
}