//====================================================================================================
.footer {
  @include adaptiveValue("padding-top", 150, 150);

  /* .footer__container */
  &__container {}

  /* .footer__top */
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* .footer__logo */
  &__logo {}

  /* .footer__social */
  &__social {}

  /* .footer__bottom */
  &__bottom {}

  /* .footer__policy */
  &__policy {}

  /* .footer__copyright */
  &__copyright {}

  /* .footer__label */
  &__label {}
}

.social-footer {
  display: flex;
  align-items: center;
  @include adaptiveValue("gap", 43, 43);
  gap: rem(43);

  /* .social-footer__item */
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    /* .social-footer__item_ytb */
    &_ytb {}
  }

  /* .social-footer__link */
  &__link {
    display: flex;
    align-items: center;


    &_ytb {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: rem(70);
        height: rem(70);
        border-radius: 50%;
        border-bottom: 1px solid red;

        @media (max-width:$mobile) {
          width: rem(50);
          height: rem(50);
        }
      }

    }
  }

  /* .social-footer__media */
  &__media {}

  /* .social-footer__name */
  &__name {

    /* .social-footer__name_ytb */
    &_ytb {}
  }
}