.promo {
  @include adaptiveValue("padding-top", 156, 66);

  mix-blend-mode: lighten;

  /* .promo__container */
  &__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 53%;

    @media (max-width:$tablet) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }

  /* .promo__image */
  &__image {
    position: relative;

    img {
      position: absolute;
      top: rem(-76);
      @include adaptiveValue("top", -117, -76);
      @include adaptiveValue("width", 1264, 694);
      @include adaptiveValue("left", -212, -92, 1920, 992);

      @media (max-width: em(1100)){
          left: -150px;
      }

      @media (max-width:$tablet) {
        @include adaptiveValue("left", 100, -90, 992, 360);
      }
    }

    transform: translate(rem(-20), rem(0));
    opacity: 0;
    transition: all $animSpeed ease 0s;

    &._watcher-view {
      transform: none;
      opacity: 1;
    }
  }

  /* .promo__decor-text */
  &__decor-text {
    position: absolute;
    left: 36%;
    top: 39%;

    @include adaptiveValue("font-size", 18, 14);
    line-height: math.div(42, 18);
    font-weight: 800;
    color: #EFD701;
    text-orientation: upright;
    writing-mode: vertical-lr;
    letter-spacing: 0.05em;
  }

  /* .promo__content */
  &__content {
    @include adaptiveValue("padding-top", 123, 45);

    @media (max-width:$tablet) {
      grid-row-start: 1;
      grid-row-end: 2;

      padding-right: rem(85);
    }

    @media (max-width:$tablet) {
      justify-self: center;
    }

    @media (min-width:$tablet) {
      padding-left: rem(7);
    }
  }

  /* .promo__title */
  &__title {
    position: relative;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 55, 50);
    }

    @include adaptiveValue("font-size", 70, 30);
    font-weight: 700;
    letter-spacing: 0.05em;

    z-index: 20;

    @media (max-width:$tablet) {
      max-width: rem(570);
    }

    @media (max-width:$mobile) {
      max-width: rem(500);
    }

    transform: translate(0, rem(-20));
    opacity: 0;
    transition: all $animSpeed ease 0s;

    &._watcher-view {
      transform: none;
      opacity: 1;
    }

  }

  &__symbol {
    color: #263039;
  }

  &__name {
    color: #5BA13A;
  }

  /* .promo__text */
  &__text {
    position: relative;
    z-index: 20;
    letter-spacing: 0.05em;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 96, 20);
    }

    @include adaptiveValue("font-size", 30, 16);
    font-weight: 300;
    line-height: math.div(36, 30);

    @media (min-width:$tablet) and (max-width: em(1200)) {
      background-color: rgba(0, 0, 0, .2);
      border-radius: rem(10);
      padding-left: rem(10);
    }

    transform: translate(0, rem(20));
    opacity: 0;
    transition: all $animSpeed ease 0s;

    &._watcher-view {
      transform: none;
      opacity: 1;
    }

    @media (max-width: em(1230)) {
      max-width: rem(500);
    }
  }

  @media (max-width:$tablet) {}

  &__button {
    position: relative;
    z-index: 100;

    @media (max-width:$tablet) {
      position: absolute;
      bottom: rem(-163);
    }

    transform: translate(0, rem(20));
    opacity: 0;
    transition: all $animSpeed ease 0s;

    &._watcher-view {
      transform: none;
      opacity: 1;
    }
  }

  /* .promo__scroll-down */
  &__scroll-down {
    position: absolute;
    display: flex;
    align-items: center;
    gap: rem(15);
    left: -13%;
    top: 25.2%;

    transform: rotate(-90deg);

    img {
      cursor: pointer;
    }

    span {
      font-size: rem(10);
      font-weight: 600;
      line-height: math.div(12, 10);
      letter-spacing: 0.5em;
      color: #757D84;
    }

    @media (max-width: em(1730)) {
      left: rem(-135);
    }

    @media (max-width: em(1600)) {
      display: none;
    }
  }

  /* .promo__social */
  &__social {
    position: absolute;
    right: -6%;
    top: 30%;

    @media (max-width: em(1700)) {
      right: 3%;
      top: 48.8%;
    }

    @media (max-width: em(1450)) {
      right: 3%;
      top: 17%;
    }

    @media (max-width:$tablet) {
      right: rem(22);
      top: 6%;
    }

    @media (max-width:$mobile) {
      right: rem(22);
      top: rem(100);
    }

  }

  &__decor-ellipse {
    @include adaptiveValue("width", 1328, 851);
    @include adaptiveValue("height", 1328, 851);
    top: -110%;
    left: -50%;

    @media (max-width:$mobile) {
      top: -80%;
    }
  }
}