.plans {
  // @include adaptiveValue("margin-top", 0, 117);
  @include adaptiveValue("padding-top", 0, 130);
  @include adaptiveValue("padding-bottom", 120, 79);

  /* .plans__container */
  &__container {
    position: relative;

    &::before,
    &::after {

      @media (min-width:$mobile) {
        content: '';
        position: absolute;
        width: rem(432);
        height: rem(1182);
        right: 21%;
        top: 10%;
        background: #204160;
        opacity: 0.7;
        filter: blur(201.5px);
        transform: rotate(38.38deg);
        z-index: -1000;
      }
    }

    &::before {
      right: 21%;
      top: 10%;
    }

    &::after {
      right: 40%;
      top: 47%;
    }
  }

  /* .plans__title */
  &__title {
    position: relative;
    z-index: 100;
    @include adaptiveValue("margin-bottom", 75, 30);

    letter-spacing: 0.03em;

    span {
      color: #00C4EF;
    }

    transform: translate(rem(0), rem(20));
    opacity: 0;
    transition: all $animSpeed ease 0s;

    &._watcher-view {
      transform: none;
      opacity: 1;
    }

  }

  &__slider_one,
  &__slider_two {
    transform: translate(rem(0), rem(20));
    opacity: 0;
    transition: all $animSpeed ease 0s;

    &._watcher-view {
      transform: none;
      opacity: 1;
    }
  }
}

.step-one-plans {

  /* .step-one-plans__form */
  &__form {
    transform: translate(rem(20), rem(0));
    opacity: 0;
    transition: all $animSpeed ease 0s;

    &._watcher-view {
      transform: none;
      opacity: 1;
    }

    @media (max-width:$mobileSmall) {
      @include adaptiveValue("margin-left", -30, -60);
    }
  }
}

.step-plans {

  /* .step-plans__header */
  &__header {
    @include adaptiveValue("margin-bottom", 50, 24);
  }

  /* .step-plans__number */
  &__number {
    @include adaptiveValue("font-size", 100, 60);
    font-weight: 500;
    line-height: math.div(122, 100);
    letter-spacing: 0.03em;
  }

  /* .step-plans__step */
  &__step {
    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: 8% 57%;

    @include adaptiveValue("font-size", 14, 10);
    font-weight: 900;
    line-height: math.div(17, 14);
    letter-spacing: 0.29em;
  }

  /* .step-plans__items */
  &__items {
    padding-left: rem(7);
    align-items: flex-start;
  }
}

.header-step-plans {
  position: relative;
  z-index: 100;

  display: grid;
  grid-template-columns: 57.7% auto;
  align-items: center;
  @include adaptiveValue("padding-left", 87, 60);
  gap: rem(15);

  /* .header-step-plans__number */
  &__number {
    position: absolute;
    top: rem(-13);

    color: $secTextColor;

    &_2 {
      top: 0;
    }
  }

  /* .header-step-plans__title */
  &__title {
    transform: translate(rem(-20), rem(0));
    opacity: 0;
    transition: all $animSpeed ease 0s;

    &._watcher-view {
      transform: none;
      opacity: 1;
    }

    @media (max-width:$tablet) {
      @include adaptiveValue("margin-bottom", 20, 12);
    }

    @media (min-width:$tablet) {
      padding-left: rem(10);
    }
  }

  /* .header-step-plans__name */
  &__name {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 24, 14);
    }

    @include adaptiveValue("font-size", 40, 20);
    font-weight: 300;
    line-height: math.div(49, 40);
    letter-spacing: 0.05em;
  }

  /* .header-step-plans__subname */
  &__subname {
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 500;
    color: $mainTextColor;
    line-height: math.div(19.5, 16);
    letter-spacing: 0.05em;
  }

  /* .header-step-plans__descr */
  &__descr {}

  @media (max-width:$tablet) {
    grid-template-columns: 1fr;
    row-gap: rem(20);
  }
}

.form-step {

  @media (min-width:$tablet) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  /* .form-step__lable */
  &__lable {
    flex: 1 1 100%;
    margin-bottom: rem(25);
    @include adaptiveValue("padding-left", 24, 10, 1920, 1200);

    @include adaptiveValue("font-size", 16, 12);
    line-height: math.div(19.5, 16);
    font-weight: 500;
    letter-spacing: 0.05em;


    @media (max-width:$tablet) {
      margin-right: rem(17);
    }
  }

  /* .form-step__input */
  &__input {
    margin-right: rem(10);
    @include adaptiveValue("width", 236, 103);
    @include adaptiveValue("height", 80, 50);
    padding-right: rem(20);
    @include adaptiveValue("padding-left", 50, 40);

    border: 1px solid $secTextColor;
    background-color: transparent;
    border-radius: rem(40);

    font-size: rem(20);
    font-weight: 900;
    color: #fff;
    line-height: math.div(24, 20);
    letter-spacing: 0.05em;

    @media (min-width:em(1200)) {
      margin-right: rem(20);
    }

    @media (max-width:$mobile) {
      margin-right: 0;
    }
  }

  &__descr {
    @include adaptiveValue("font-size", 10, 8);
    line-height: math.div(12, 10);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    @media (max-width:$mobile) {}

    @media (max-width: em(1200)) {
      max-width: rem(140);
    }

    @media (min-width:em(1200)) {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: rem(31);


      &::before {
        content: '';
        position: absolute;
        width: rem(21);
        height: rem(1);
        background-color: $secTextColor;
        left: 0;
      }
    }
  }
}

.item-step {
  position: relative;
  display: grid;
  height: 100%;
  grid-template-rows: auto-fit auto 1fr;
  justify-items: center;
  @include adaptiveValue("width", 329, 289);
  @include adaptiveValue("padding-top", 36, 20);
  @include adaptiveValue("padding-bottom", 36, 20);

  background: linear-gradient(294.61deg, #2F4356 5.58%, #1F2E3D 126.67%);
  border-radius: 30px;

  color: $secTextColor;

  transition: all 0.7s ease 0s;

  ._active & {
    background: linear-gradient(294.61deg, #3E5770 5.58%, #2B4256 126.67%);
  }

  /* .item-step__name */
  &__name {
    @include adaptiveValue("margin-bottom", 31, 13);

    @include adaptiveValue("font-size", 20, 14);
    line-height: math.div(24, 20);
    font-weight: 800;
    color: $secTextColor;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    transition: color .3s ease 0s;

    ._active & {
      color: #01C3ED;
    }
  }

  /* .item-step__descr */
  &__descr {
    position: relative;
    display: block;
    @include adaptiveValue("margin-bottom", 36, 13);
    padding: rem(14) rem(10);
    @include adaptiveValue("height", 46, 38);
    width: calc(100% + rem(14));

    background: linear-gradient(90deg, #415465 0%, #374858 100%);
    border-radius: rem(7) rem(7) 0 0;

    @include adaptiveValue("font-size", 14, 12);
    line-height: math.div(17, 14);
    font-weight: 600;
    letter-spacing: 0.05em;
    color: $secTextColor;
    text-align: center;

    transition: all .6 ease 0s;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 100%;
      border-width: rem(5) rem(7);
      border-style: solid;
      border-color: $secTextColor transparent transparent transparent;
      padding: 0;
      width: 100%;
      z-index: -1;
    }

    ._active & {
      color: #fff;
      background: linear-gradient(90deg, #00C4EF 0%, #0095B6 100%);
    }

    span {
      position: relative;
      z-index: 100;
    }
  }

  &__border-img {
    position: absolute;
    width: calc(100% + rem(14));
  }

  /* .item-step__price */
  &__price {
    @include adaptiveValue("font-size", 36, 30);
    line-height: math.div(44, 36);
    color: $secTextColor;
    font-weight: 800;
    letter-spacing: 0.05em;

    transition: color .6s ease 0s;

    ._active & {
      color: #fff;
    }

    .step-two-plans__item & {
      @include adaptiveValue("font-size", 28, 22);
      line-height: math.div(34, 28);

      span {
        font-weight: 300;
      }
    }
  }

  /* .item-step__text */
  &__text {
    @include adaptiveValue("font-size", 14, 10);
    font-weight: 600;
    line-height: math.div(24, 14);
    color: $secTextColor;

    transition: color .6s ease 0s;

    ._active & {
      color: #01C3ED;
    }
  }

  /* .item-step__check */
  &__check {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    @include adaptiveValue("margin-top", 30, 20);
    margin-bottom: rem(-4);
    @include adaptiveValue("width", 80, 60);
    @include adaptiveValue("height", 80, 60);

    transform: scale(0);
    opacity: 0;
    border-radius: 50%;
    background: linear-gradient(90deg, #01C9F5 -18.3%, #006D85 134.86%);
    box-shadow: 0px 10px 13px rgba(82, 203, 255, 0.33);

    transition: all .6s ease 0s;

    ._active & {
      transform: scale(1);
      opacity: 1;
    }
  }

  /* .item-step__footer */

  &__footer {
    position: relative;
    @include adaptiveValue("padding-top", 25, 18);
    margin-bottom: rem(-80);

    text-align: center;

    transition: all 0.3s ease 0s;

    ._active & {
      margin-bottom: 0;
    }
  }
}

.list-item-step {
  position: relative;
  display: grid;
  @include adaptiveValue("row-gap", 24, 11);
  @include adaptiveValue("padding-left", 30, 20);
  @include adaptiveValue("padding-right", 30, 20);

  z-index: 100;
  transition: color .3s ease 0s;

  ._active & {
    color: #fff;
  }

  /* .list-item-step__item */
  &__item {
    row-gap: rem(24);
    display: flex;
    justify-content: space-between;

    &:last-child {
      @include adaptiveValue("padding-bottom", 25, 16);
      border-bottom: 1px solid #414E53;

    }
  }

  /* .list-item-step__name */
  &__name {
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 400;
    line-height: math.div(24, 16);

    flex: 0 1 70%;
  }

  /* .list-item-step__value */
  &__value {
    padding-top: rem(3);

    @include adaptiveValue("font-size", 16, 14);
    font-weight: 600;
    letter-spacing: 0.05em;
    text-align: right;

    &_sm {
      font-size: rem(11);
    }
  }
}

.plans {

  &__button-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(14);
    margin-top: rem(30);

    &_up {
      position: relative;
      justify-content: space-between;

      &::before {
        content: '';
        position: absolute;
        right: 7%;
        transform: translate(50%, -60%);
        top: 30%;
        background: url('@img/smoke.png') no-repeat;
        width: rem(716);
        height: rem(587);
        z-index: -1000;
      }

      @media (max-width:$mobile) {
        flex-direction: column;
      }

      span {
        color: #FF6767;
      }
    }

    span {
      @include adaptiveValue("font-size", 16, 10);
      font-weight: 700;
      line-height: math.div(19, 16);
      letter-spacing: 0.05em;
      color: #B1E718;
    }
  }

  /* .plans__button */
  &__button {
    position: relative;
    display: grid;
    place-items: center;
    @include adaptiveValue("width", 145, 77);
    @include adaptiveValue("height", 145, 77);

    border-radius: 50%;
    background-color: #2D3843;

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 72%;
      height: 72%;
      border-radius: 50%;
      background-color: #314150;
      transition: .3s;
    }

    &::before {
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
      opacity: 1;
    }

    &::after {
      opacity: 0;
      box-shadow: inset 0px 8px 15px rgba(0, 0, 0, 0.25);

    }

    img {
      position: relative;
      z-index: 100;
      @include adaptiveValue("height", 43, 19);
      transition: .3s;
    }

    transform: translate(rem(0), rem(-20));
    opacity: 0;
    transition: all $animSpeed ease 0s;

    &._watcher-view {
      transform: none;
      opacity: 1;
    }


    &:hover {
      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }

      img {
        transform: translate(0px, rem(4));
      }
    }

    &_up {
      transform: translate(rem(0), rem(20));
      opacity: 0;
      transition: all $animSpeed ease 0s;

      &._watcher-view {
        transform: none;
        opacity: 1;
      }

      &:hover {

        img {
          transform: translate(0, rem(-4));
        }
      }
    }

    &_left {
      transform: translate(rem(-20), rem(0));
      opacity: 0;
      transition: all $animSpeed ease 0s;

      &._watcher-view {
        transform: none;
        opacity: 1;
      }
    }

    &_right {
      transform: translate(rem(20), rem(0));
      opacity: 0;
      transition: all $animSpeed ease 0s;

      &._watcher-view {
        transform: none;
        opacity: 1;
      }
    }
  }

  &__faq {
    @include adaptiveValue("margin-top", 28, 24);
    @include adaptiveValue("margin-bottom", 163, 73);

    &_sec {
      @include adaptiveValue("margin-top", 28, 41);
      @include adaptiveValue("margin-bottom", 70, 75);
    }
  }

  &__decor-ellipse {
    top: 17.4%;
    left: -59%;
  }
}

.step-plans {

  /* .step-plans__operation */
  &__operation {
    @include adaptiveValue("margin-bottom", 103, 100);
    @include adaptiveValue("margin-left", 120, 60, 1920, 798, 2);

    @media (max-width: em(798)) {
      transform: translate(10%, 0px);
    }

    @media (max-width: em(600)) {
      transform: translate(-4%, 0);
    }

    @media (max-width: em(506)) {
      transform: none;
      // transform: translate(-4%, 0);
    }
  }
}

.step-three-plans__header {
  @include adaptiveValue("margin-bottom", 71, 17);
  @include adaptiveValue("padding-left", 110, 65);
}

.operation-plans {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: rem(432);
    height: rem(1182);
    top: -150%;
    left: 11%;

    background: #204160;
    opacity: 0.7;
    filter: blur(201.5px);
    transform: matrix(-0.78, 0.62, 0.62, 0.78, 0, 0);
    z-index: -1000;
  }

  /* .operation-plans__items */
  &__items {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(auto, rem(343)));
    @include adaptiveValue("column-gap", 29, 15);
    @include adaptiveValue("row-gap", 100, 34);
    justify-content: center;

    @media (min-width:$tablet) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: em(600)) {
      justify-content: end;
    }

    @media (max-width:$mobileSmall) {
      grid: none;
    }

    transform: translate(rem(0), rem(20));
    opacity: 0;
    transition: all $animSpeed ease 0s;

    &._watcher-view {
      transform: none;
      opacity: 1;
    }
  }

  /* .operation-plans__item */
  &__item {}
}

.item-operation {
  position: relative;

  &:not(:last-child) {
    &::after {
      content: '';
      position: absolute;
      width: rem(176);
      height: rem(47);
      top: 0;
      right: -1%;

      background: url('@img/steps/dots-arrow.svg') 0 0 no-repeat;
      z-index: -1;

      @media (max-width: em(735)) {
        top: 68%;
        left: -51%;
        transform: rotate(90deg) scale(1, -1);
      }
    }
  }

  &:nth-child(2) {
    &::after {
      transform: scale(1, -1);
      transform-origin: 0 100%;

      @media (min-width: em(736)) and (max-width:$tablet) {
        display: none;
      }

      @media (max-width: em(735)) {
        transform: rotate(90deg) scale(1, -1);
        transform-origin: 0 -100%;
      }
    }
  }

  /* .item-operation__icon */
  &__icon {
    position: relative;
    @include adaptiveValue("margin-bottom", 27, 24);

    &::before {
      content: '';
      position: absolute;

      @include adaptiveValue("left", 41, 8);
      @include adaptiveValue("top", 77, 32);

      width: rem(111);
      height: rem(111);
    }

    img {
      @include adaptiveValue("width", 124, 78);
      @include adaptiveValue("height", 124, 78);
    }

    &_1 {
      &::before {
        background: url('@img/steps/item-1-b.svg') 0 0 no-repeat;
      }
    }

    &_2 {
      &::before {
        background: url('@img/steps/item-2-b.svg') 0 0 no-repeat;
      }
    }

    &_3 {
      &::before {
        background: url('@img/steps/item-3-b.svg') 0 0 no-repeat;
      }
    }

    &_4 {
      &::before {
        background: url('@img/steps/item-4-b.svg') 0 0 no-repeat;
      }
    }
  }

  /* .item-operation__name */
  &__name {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 24, 21);
    }

    @include adaptiveValue("font-size", 22, 16);
    font-weight: 700;
    line-height: math.div(28, 22);
    letter-spacing: 0.05em;
  }

  /* .item-operation__list */
  &__list {
    display: grid;
    gap: rem(18);
  }

  /* .item-operation__item */
  &__item {
    padding-left: rem(40);

    @include adaptiveValue("font-size", 16, 14);
    line-height: math.div(19, 16);
    letter-spacing: 0.05em;

    background: url('@img/icons/check-w.svg') 0 0 no-repeat;

    &::before {
      content: '';
      width: rem(18);
      height: rem(18);
    }
  }

  /* .plan__questions */
  &__questions {}
}

.question-plan {
  position: relative;

  text-align: center;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, -65%);
    top: 60%;
    background: url('@img/smoke.png') no-repeat;
    width: rem(716);
    height: rem(587);
    z-index: -1000;
  }

  /* .question-plan__title */
  &__title {
    @include adaptiveValue("margin-bottom", 65, 27);

    @include adaptiveValue("font-size", 50, 30);
    font-weight: 700;
    line-height: math.div(61, 50);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    transform: translate(rem(0), rem(20));
    opacity: 0;
    transition: all $animSpeed ease 0s;

    &._watcher-view {
      transform: none;
      opacity: 1;
    }
  }

  /* .question-plan__button */
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(15);
    @include adaptiveValue("padding-left", 165, 0, 1920, 768, 1);

    span {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: rem(32);

      font-size: rem(10);
      font-weight: 500;
      color: $mainTextColor;
      line-height: math.div(12, 10);
      text-transform: uppercase;
      letter-spacing: 0.05em;

      &::before {
        content: '';
        position: absolute;
        width: rem(21);
        height: rem(1);
        background-color: $secTextColor;
        left: 0;
      }

      @media (max-width:$mobile) {
        display: none;
      }
    }

    transform: translate(rem(0), rem(20));
    opacity: 0;
    transition: all $animSpeed ease 0s;

    &._watcher-view {
      transform: none;
      opacity: 1;
    }
  }
}

.set-month {

  .change & {
    display: none;
  }
}