.plans {
  margin-top: rem(-30);
  @include adaptiveValue("padding-top", -30, 100);

  /* .plans__container */
  &__container {}

  /* .plans__title */
  &__title {
    position: relative;
    z-index: 100;
    @include adaptiveValue("margin-bottom", 75, 50);

    letter-spacing: 0.03em;

    span {
      color: #00C4EF;
    }
  }

  /* .plans__step-one */
  &__step-one {}

  &__slider {
    padding-bottom: rem(200);
  }
}

.step-one-plans {

  /* .step-one-plans__form */
  &__form {

    @media (max-width:$mobileSmall) {
      @include adaptiveValue("margin-left", -30, -60);
    }
  }

  /* .step-one-plans__item */
  &__item {}
}

.step-plans {

  /* .step-plans__header */
  &__header {
    @include adaptiveValue("margin-bottom", 50, 24);
  }

  /* .step-plans__number */
  &__number {
    @include adaptiveValue("font-size", 100, 60);
    font-weight: 500;
    line-height: math.div(122, 100);
    letter-spacing: 0.03em;
  }

  /* .step-plans__step */
  &__step {
    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: 0 65%;

    @include adaptiveValue("font-size", 14, 10);
    font-weight: 900;
    line-height: math.div(17, 14);
    letter-spacing: 0.29em;
  }

  /* .step-plans__items */
  &__items {
    // overflow-x: auto;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // @include adaptiveValue("column-gap", 34, 34);
    // align-items: flex-start;

  }
}

.header-step-plans {
  position: relative;
  z-index: 100;

  display: grid;
  grid-template-columns: 57.7% auto;
  align-items: center;
  @include adaptiveValue("padding-left", 87, 60);
  gap: rem(15);

  /* .header-step-plans__number */
  &__number {
    position: absolute;
    top: rem(-13);

    color: $secTextColor;
  }

  /* .header-step-plans__title */
  &__title {

    @media (max-width:$tablet) {
      // margin-bottom: rem();
      @include adaptiveValue("margin-bottom", 20, 12);
    }

    @media (min-width:$tablet) {
      padding-left: rem(10);
    }
  }

  /* .header-step-plans__name */
  &__name {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 24, 14);
    }

    @include adaptiveValue("font-size", 40, 20);
    font-weight: 300;
    line-height: math.div(49, 40);

    letter-spacing: 0.05em;
  }

  /* .header-step-plans__subname */
  &__subname {
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 500;
    color: $mainTextColor;
    line-height: math.div(19.5, 16);
    letter-spacing: 0.05em;
  }

  /* .header-step-plans__descr */
  &__descr {}

  @media (max-width:$tablet) {
    grid-template-columns: 1fr;
    row-gap: rem(20);
  }
}

.form-step-one {}

.form-step {

  @media (min-width:$tablet) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    // padding-top: rem(10);
  }

  /* .form-step__lable */
  &__lable {
    // width: 100%;
    flex: 1 1 100%;
    margin-bottom: rem(25);

    @include adaptiveValue("font-size", 16, 12);
    line-height: math.div(19.5, 16);
    font-weight: 500;
    letter-spacing: 0.05em;

    @include adaptiveValue("padding-left", 24, 10, 1920, 1200);

    @media (max-width:$tablet) {
      margin-right: rem(17);
    }

  }

  /* .form-step__input */
  &__input {
    // display: flex;
    // align-items: center;
    margin-right: rem(10);
    @include adaptiveValue("width", 236, 103);
    @include adaptiveValue("height", 80, 50);
    padding-right: rem(20);
    @include adaptiveValue("padding-left", 50, 40);

    border: 1px solid $secTextColor;
    background-color: transparent;
    border-radius: rem(40);

    font-size: rem(20);
    font-weight: 900;
    color: #fff;
    line-height: math.div(24, 20);
    letter-spacing: 0.05em;

    @media (min-width:em(1200)) {
      margin-right: rem(20);
    }

    @media (max-width:$mobile) {
      margin-right: 0;
    }

  }

  &__descr {
    @include adaptiveValue("font-size", 10, 8);
    line-height: math.div(12, 10);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    @media (max-width:$mobile) {}

    @media (max-width: em(1200)) {
      max-width: rem(140);
    }

    @media (min-width:em(1200)) {
      position: relative;
      display: flex;
      align-items: center;

      padding-left: rem(31);

      &::before {
        content: '';
        position: absolute;
        width: rem(21);
        height: rem(1);
        background-color: $secTextColor;
        left: 0;
      }

    }

  }
}

.item-step {
  position: relative;
  display: grid;
  height: auto;
  grid-template-rows: auto-fit auto 1fr;
  justify-items: center;
  @include adaptiveValue("width", 329, 289);
  // width: rem(300) !important;
  @include adaptiveValue("padding-top", 36, 20);
  @include adaptiveValue("padding-bottom", 36, 20);


  background: linear-gradient(294.61deg, #2F4356 5.58%, #1F2E3D 126.67%);
  border-radius: 30px;

  color: $secTextColor;

  ._active & {
    background: linear-gradient(294.61deg, #3E5770 5.58%, #2B4256 126.67%);
  }

  /* .item-step__name */
  &__name {
    @include adaptiveValue("margin-bottom", 31, 13);

    @include adaptiveValue("font-size", 20, 14);
    line-height: math.div(24, 20);
    font-weight: 800;
    color: $secTextColor;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    ._active & {
      color: #01C3ED;
    }
  }

  /* .item-step__descr */
  &__descr {
    position: relative;
    display: block;
    @include adaptiveValue("margin-bottom", 36, 13);
    padding: rem(14) rem(10);
    height: rem(46);
    @include adaptiveValue("height", 46, 38);
    width: calc(100% + rem(14));

    background: linear-gradient(90deg, #415465 0%, #374858 100%);
    border-radius: rem(7) rem(7) 0 0;

    @include adaptiveValue("font-size", 14, 12);
    line-height: math.div(17, 14);
    font-weight: 600;
    letter-spacing: 0.05em;
    color: $secTextColor;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 100%;
      border-width: rem(5) rem(7);
      border-style: solid;
      border-color: $secTextColor transparent transparent transparent;
      padding: 0;
      width: 100%;
      z-index: -1;
    }

    ._active & {
      color: #fff;
      background: linear-gradient(90deg, #00C4EF 0%, #0095B6 100%);
    }

    span {
      position: relative;
      z-index: 100;
    }
  }

  &__border-img {
    position: absolute;
    width: calc(100% + rem(14));

  }

  /* .item-step__list */
  &__list {}

  /* .item-step__price */
  &__price {
    @include adaptiveValue("font-size", 36, 30);
    line-height: math.div(44, 36);
    color: $secTextColor;
    font-weight: 800;
    letter-spacing: 0.05em;

    ._active & {
      color: #fff;
    }
  }

  /* .item-step__text */
  &__text {
    @include adaptiveValue("font-size", 14, 10);
    font-weight: 600;
    line-height: math.div(24, 14);
    color: $secTextColor;

    ._active & {
      color: #01C3ED;
    }
  }

  /* .item-step__check */
  &__check {
    @include adaptiveValue("margin-top", 30, 20);
    margin-bottom: rem(-4);
    display: none;
    transform: scale(0);

    transition: all .4s ease 0s;

    ._active & {
      transform: scale(1);
      display: inline-block;
    }
  }

  /* .item-step__footer */

  &__footer {
    position: relative;
    @include adaptiveValue("padding-top", 25, 18);

    text-align: center;
    transition: all 1s ease 0s;

    ._active & {}

  }

}

.list-item-step {
  position: relative;
  display: grid;
  @include adaptiveValue("row-gap", 24, 11);
  @include adaptiveValue("padding-left", 30, 20);
  @include adaptiveValue("padding-right", 30, 20);

  z-index: 100;

  ._active & {
    color: #fff;
  }

  /* .list-item-step__item */
  &__item {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: rem(24);

    &:last-child {
      @include adaptiveValue("padding-bottom", 25, 16);
      border-bottom: 1px solid #414E53;

    }
  }

  /* .list-item-step__name */
  &__name {
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 400;
    line-height: math.div(24, 16);
  }

  /* .list-item-step__value */
  &__value {
    padding-top: rem(3);

    @include adaptiveValue("font-size", 16, 14);
    font-weight: 600;
    letter-spacing: 0.05em;
    text-align: right;
  }
}