.seo-block {
  @include adaptiveValue("padding-top", 194, 68);
  @include adaptiveValue("padding-bottom", 100, 100);
  padding-bottom: rem(100);
  
  @media (max-width: em(570)){
    padding-bottom: rem(40);
  }

  /* .seo-block__container */
  &__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 49.5%;

    align-items: center;

    @media (max-width:$tablet) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }

  /* .seo-block__image */
  &__image {
    position: relative;
      // position: sticky;

    align-self: start;


    img {
      position: absolute;
      left: 0;
      @include adaptiveValue("width", 1120, 690);
      @include adaptiveValue("left", -193, -142);
      @include adaptiveValue("top", -213, -139);

      z-index: -1;

      @media (max-width:$tablet) {
        left: 59%;
        transform: translate(-50%, 0);
      }
    }
  }

  &__decor-text {
    position: absolute;
    left: 21%;
    top: 37%;
    z-index: 100;

    @media (max-width:$tablet) {
      left: 37%;
      top: 56%;
    }
  }

  /* .seo-block__content */
  &__content {

    @media (max-width:$tablet) {
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }

  /* .seo-block__title */
  &__title {
    @include adaptiveValue("margin-bottom", 80, 35);

    letter-spacing: 0.05em;

    span {
      color: #EFD701;
    }
  }

  /* .seo-block__text */
  &__text {

    @include adaptiveValue("font-size", 16, 14);
    font-weight: 400;
    color: $mainTextColor;
    letter-spacing: 0.05em;
    line-height: math.div(28, 16);

    p {
      &:not(:last-child) {
        margin-bottom: rem(28);
      }
    }

    @media (max-width:$mobileSmall) {
      line-height: 135%;
    }
  }

  &__decor-ellipse {
    top: -51%;
    left: -59%;

    @media (max-width:$mobile) {
      top: 14%;
      left: -294%;
    }
  }
}

.sticky {
  position: fixed;
  z-index: 101;
}
.stop {
  position: relative;
  z-index: 101;
}