.types-crm {
	padding-top: rem(228);

	/* .types-crm__container */
	&__container {}

	/* .types-crm__body */
	&__body {}

	/* .types-crm__navigation */
	&__navigation {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		margin-bottom: rem(74);
		// grid-template-columns: repeat(auto-fit, minmax(rem(270), 1fr));
		column-gap: rem(26);
		overflow-x: auto;
	}

	/* .types-crm__button */
	&__button {
		position: relative;
		cursor: pointer;
		// max-width: rem(273);
		@include adaptiveValue("padding-top", 54, 54);
		@include adaptiveValue("padding-bottom", 45, 37);
		@include adaptiveValue("padding-left", 53, 40);
		display: grid;
		gap: rem(20);
		background-color: rgba(111, 135, 157, .1);
		border-radius: rem(30);

		&::before {
			background: linear-gradient(294.61deg, #2F4356 5.58%, #1F2E3D 126.67%);
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			opacity: 0;
			border-radius: rem(30);
			transition: all 0.8s ease-in-out;

			z-index: -1000;
		}

		&:hover {
			&::before {
				opacity: 1;
			}

			.types-crm__name {
				color: #85E25A;
			}
		}
	}

	/* .types-crm__icon */
	&__icon {}

	/* .types-crm__name */
	&__name {

		@include adaptiveValue("font-size", 20, 10);
		font-weight: 600;
		letter-spacing: 0.05em;
		line-height: math.div(24, 20);
		color: #85E25A;
	}

	/* .types-crm__content */
	&__content {}

	/* .types-crm__item */
	&__item {
		letter-spacing: .05em;

		// display: flex;
		display: grid;
		grid-template-columns: 1fr 49.5%;
		// grid-template-columns: repeat(2, 1fr);
	}

	/* .types-crm__image */
	&__image {
		position: relative;



		// justify-self: start;
		// display: flex;
		// align-items: start;
		img {
			position: absolute;
			// // max-width: 100%;
			left: -9%;
			// bottom: 0;
		}

		&_crm {
			img {
				left: -28%;
				top: 17%;
			}
		}

	}

	/* .types-crm__text */
	&__text {
		// flex: 0 1 60%;
	}
}

.text-types-crm {
	padding-top: rem(17);

	/* .text-types-crm__title */
	&__title {

		font-size: rem(50);
		font-weight: 700;
		line-height: math.div(61, 50);
		text-transform: uppercase;

		&:not(:last-child) {
			margin-bottom: rem(22);
		}

		&:hover {
			// background: linear-gradient(294.61deg, #2F4356 5.58%, #1F2E3D 126.67%);
		}
	}

	/* .text-types-crm__slogan */
	&__slogan {
		font-size: rem(16);
		@include adaptiveValue("font-size", 16, 16);
		font-weight: 600;
		line-height: math.div(28, 16);

		letter-spacing: .05em;

		&:not(:last-child) {
			margin-bottom: rem(26);
		}
	}

	/* .text-types-crm__list */
	&__list {
		display: grid;
		gap: rem(5)
	}

	/* .text-types-crm__item */
	&__item {
		position: relative;
		display: grid;
		gap: rem(15);
		padding-left: rem(26);
		margin-bottom: rem(29);

		._icon-top & {
			margin-bottom: rem(0);
		}

		p {
			@include adaptiveValue("font-size", 16, 16);
			line-height: math.div(38, 16);
			line-height: 195%;
			// letter-spacing: .05em;
		}

		._icon-top &::before {
			top: rem(8);
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: rem(13);
			width: rem(15);
			height: rem(15);

			background: url('@img/icons/check-p.svg') 0 0 no-repeat;
		}
	}

	/* .text-types-crm__descr */
	&__descr {
		padding-top: rem(7);

		&:not(:last-child) {
			margin-bottom: rem(35);
		}

		font-size: rem(16);
		@include adaptiveValue("font-size", 16, 16);
		line-height: math.div(28, 16);
	}

	/* .text-types-crm__name */
	&__name {
		margin-bottom: rem(-6);

		@include adaptiveValue("font-size", 16, 14);
		font-weight: 700;
		color: $mainTextColor;
		line-height: math.div(38, 16);
		letter-spacing: 0.05em;
	}
}