.types-crm {
	@include adaptiveValue("padding-top", 228, 244);

	/* .types-crm__container */
	&__container {
		position: relative;

		@media (min-width:$tablet) {
			&::before {
				content: "";
				position: absolute;
				background: #204160;
				opacity: 0.7;
				top: -14%;
				right: 22%;
				filter: blur(201.5px);
				transform: rotate(38.38deg);
				width: rem(432);
				height: rem(1182);

				// z-index: 20;
				opacity: 0.7;
			}
		}

	}

	/* .types-crm__body */
	&__body {}

	/* .types-crm__navigation */
	&__navigation {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		@include adaptiveValue("margin-bottom", 74, 20);

		@include adaptiveValue("column-gap", 26, 7);
		overflow-x: auto;
		position: relative;

		transform: translate(0, rem(50));
		opacity: 0;
		transition: all 1.2s ease 0s;

		&._watcher-view {
			transform: none;
			opacity: 1;
		}
	}

	/* .types-crm__button */
	&__button {
		position: relative;
		cursor: pointer;
		@include adaptiveValue("padding-top", 54, 13);
		@include adaptiveValue("padding-bottom", 45, 14);
		@include adaptiveValue("padding-left", 53, 18);
		@include adaptiveValue("padding-right", 50, 18);
		@include adaptiveValue("height", 103, 42, 767, 360);
		display: grid;
		row-gap: rem(20);

		background-color: rgba(111, 135, 157, .1);
		@include adaptiveValue("border-radius", 30, 10);

		&::before {
			background: linear-gradient(294.61deg, #2F4356 5.58%, #1F2E3D 126.67%);
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			opacity: 0;
			@include adaptiveValue("border-radius", 30, 10);

			transition: all 0.3s ease 0s;
			z-index: -1000;
		}

		@media (any-hover: hover) {
			&:hover {
				&::before {
					opacity: 1;
				}

				.types-crm__name {
					color: #85E25A;
				}

			}
		}

		&._tab-active {
			&::before {
				opacity: 1;
			}
		}

		@media (max-width:$tablet) {
			grid-template-columns: 1fr 1fr;
			column-gap: rem(15);
			align-items: center;
		}
	}

	/* .types-crm__icon */
	&__icon {
		img {
			@media (max-width:$mobile) {
				width: rem(24);
			}

			@media (max-width:$mobileSmall) {
				width: rem(14);
			}
		}
	}

	/* .types-crm__name */
	&__name {

		@include adaptiveValue("font-size", 20, 10);
		font-weight: 600;
		letter-spacing: 0.05em;
		line-height: math.div(24, 20);
		color: #85E25A;
	}

	/* .types-crm__content */
	&__content {
		transform: translate(0, rem(50));
		opacity: 0;
		transition: all 1.2s ease 0s;

		&._watcher-view {
			transform: none;
			opacity: 1;
		}
	}

	/* .types-crm__item */
	&__item {
		display: grid;
		grid-template-columns: 1fr 49.5%;
		align-items: center;
		height: rem(650);

		letter-spacing: .05em;

		transform: translate(rem(30), rem(10));
		opacity: 0;
		transition: all .8s ease 0s;

		&_chess {
			align-items: start;
		}

		@media (max-width:$tablet) {
			grid-template-columns: 1fr;
			height: 100%;
			row-gap: rem(20);
		}

		&._watcher-view {
			opacity: 1;
			transform: none;
		}
	}

	/* .types-crm__image */
	&__image {

		img {
			max-width: 100%;

			@media (max-width:$tablet) {
				max-width: 60%;
			}

			@media (max-width:$mobile) {
				max-width: 100%;

			}
		}

		&_crm {
			position: relative;

			&::before {
				position: absolute;
				content: '';
				height: 100%;
				width: 30%;
				left: -17%;
				top: 0;
				background: linear-gradient(90deg, rgba(29, 38, 40, 0) 0%, #1D2628 81.77%);
				transform: matrix(-1, 0, 0, 1, 0, 0);
			}

			@media (min-width:$tablet) {
				margin-right: rem(-260);
			}

			img {

				@media (min-width:$tablet) {
					margin-left: rem(-213);

				}
			}
		}

		&_an {
			@media (max-width:$tablet) {
				max-width: 85%;

			}
		}

		@media (max-width:$tablet) {
			text-align: center;
		}

	}

	/* .types-crm__text */
	&__text {
		position: relative;
	}
}

.text-types-crm {
	padding-top: rem(17);

	// max-width: rem(720);

	/* .text-types-crm__title */
	&__title {
		position: relative;
		@include adaptiveValue("font-size", 50, 20);
		font-weight: 700;
		line-height: math.div(61, 50);
		text-transform: uppercase;

		// z-index: 20;

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 22, 15);
		}

		&:hover {
			// background: linear-gradient(294.61deg, #2F4356 5.58%, #1F2E3D 126.67%);
		}
	}

	/* .text-types-crm__slogan */
	&__slogan {
		font-size: rem(16);
		@include adaptiveValue("font-size", 16, 14);
		font-weight: 600;
		line-height: math.div(28, 16);

		letter-spacing: .05em;

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 26, 15);
		}
	}

	/* .text-types-crm__list */
	&__list {
		display: grid;
		gap: rem(5)
	}

	/* .text-types-crm__item */
	&__item {
		position: relative;
		display: grid;
		gap: rem(15);
		padding-left: rem(26);
		margin-bottom: rem(29);
		@include adaptiveValue("margin-bottom", 29, 18);

		._icon-top & {
			margin-bottom: rem(0);
		}

		p {
			@include adaptiveValue("font-size", 16, 14);
			line-height: math.div(38, 16);
			line-height: 195%;
			// letter-spacing: .05em;
		}

		._icon-top &::before {
			top: rem(8);
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: rem(13);
			width: rem(15);
			height: rem(15);

			background: url('@img/icons/check-p.svg') 0 0 no-repeat;
		}
	}

	/* .text-types-crm__descr */
	&__descr {
		padding-top: rem(7);
		letter-spacing: rem(.3);


		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 35, 18);
		}

		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(28, 16);
	}

	/* .text-types-crm__name */
	&__name {
		margin-bottom: rem(-6);

		@include adaptiveValue("font-size", 16, 14);
		font-weight: 700;
		color: $mainTextColor;
		line-height: math.div(38, 16);
		letter-spacing: 0.05em;
	}
}